* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif, Arial, sans-serif;
}
h1 {
  margin: 0;
  font-family: "Playfair Display", sans-serif, Arial, sans-serif;
  color: black;
  margin-bottom: 3%;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif, Arial;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif, Arial, sans-serif;
}

btn {
  font-family: "Oswald", sans-serif, Arial, sans-serif;
}

.home-wrapper {
  height: 100vh;
  background-image: url("../images/mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.header {
  color: white;
}

.header h1 {
  font-size: 56px;
  text-align: center;
}

.header h4 {
  text-align: center;
  font-size: 27px;
  margin-top: 30px;
  font-weight: 300;
  padding-top: -20px;
  color: #141414;
}

.col-md-5 {
  border-color: black;
}

#city-search-wrapper {
  position: relative;
}

#search,
#location {
  position: absolute;
}

/* api buttons styles */
.buttonsAPI {
  margin: 20px;
}

#location {
  left: 10px;
  top: 15px;
  z-index: 10;
}

#search {
  right: 10px;
  top: 15px;
  cursor: pointer;
}

input {
  width: 100%;
  height: 50px;

  border: none;
  text-indent: 40px;
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  opacity: 0.9;
}
/* rounded border for two inputs */
#cityName {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
#country {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* rounded corner of all buttons */
.btn {
  border-radius: 30px;
}

input .weather-tab {
  color: red;
}


/* .tabs-wrapper div {
    width: 100px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
} */

/* .tabs-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
} */

.tabs-wrapper .weather-tab {
  background-color: rgba(0, 0, 0, 1);
}

.weather-card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  font-weight: 900;
  font-size: 16px;
}

.weather-card {
  background-color: #66c0d4;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px;
}

.icon {
  width: 100px;
}

.test {
  border: 1px solid red;
}

.hide{
  display: none
}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 32px;
    text-align: center;
  }

  .header h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
  }

  .weather-card {
    margin: 10px;
  }
}

@media only screen and (min-width: 820px) {
  .weather-card {
    margin: 10px;
    width: 200px;
    height: 250px;
  }
}

.col-md-5 {
  margin-bottom: 20px;
  width: 100%; /* Adjust the margin value as needed */
  box-shadow: #141414;
  opacity: 0.8;
}

#home-wrapper {
  width: 100vh;
}
