* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-wrapper {
  height: 100vh;
  background-image: url("../images/mountain.png");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.header h1 {
  text-shadow: 1px 1px 2px rgba(48, 47, 47, 0.5);
}

.header {
  color: rgb(247, 120, 17);
}

.header h1 {
  font-size: 56px;
  text-align: center;
}

.header h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  color: #2f3d61;
  text-shadow: #141414;
  padding-top: -20px;
}

.col-md-5 {
  border-color: black;
}

#city-search-wrapper {
  position: relative;
}

#search, #location {
  position: absolute;
}

#location {
  left: 10px;
  top: 15px;
  z-index: 10;
}

#search {
  right: 10px;
  top: 15px;
  cursor: pointer;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  text-indent: 40px;
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.9;
}

input .weather-tab {
  color: red;
}

/* .tabs-wrapper div {
    width: 100px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-weight: 900;
} */

/* .tabs-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
} */

.tabs-wrapper .weather-tab {
  background-color: rgba(0, 0, 0, 1);
}

.weather-card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  font-weight: 900;
  font-size: 16px;
}

.weather-card {
  background-color: #66c0d4;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px;
}

.icon {
  width: 100px;
}

.test {
  border: 1px solid red;
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 32px;
    text-align: center;
  }

  .header h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
  }

  .weather-card {
    margin: 10px;
  }
}

@media only screen and (min-width: 820px) {
  .weather-card {
    margin: 10px;
    width: 200px;
    height: 250px;
  }
}

.col-md-5 {
  margin-bottom: 20px;
  width: 100%; /* Adjust the margin value as needed */
  box-shadow: #141414;
  opacity: 0.8;
}

#home-wrapper {
  width: 100vh;
}
